

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
    border: 0;
}
.ui-panel .ui-panel-content {
    padding: 0px;
}

.centred-form {
    margin : 0 auto;
}

.redColoredPanel .ui-panel-titlebar {
    color: red;
}

.blueColoredPanel .ui-panel-titlebar {
    color: blue;
}

.greenColoredPanel .ui-panel-titlebar {
    color: green;
}