<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:component>

    <p:dialog header="Pénzügyi elem szerkesztése" id="financeDlg" widgetVar="financeItemWidget" minHeight="40">
        <h:form id="financeItemForm">
            <p:panelGrid style="margin: 0 auto;">
                <p:row>
                    <p:column><h:outputText value="Jogcím" /></p:column>
                    <p:column><h:outputText value="Pénzmozgás" /></p:column>
                    <p:column><h:outputText value="Megjegyzés" /></p:column>
                </p:row>

                <p:row>
                    <p:column><p:inputText value="#{financeBean.selectedFinanceInfo.title}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{financeBean.selectedFinanceInfo.moneyMovement}"></p:inputText></p:column>
                    <p:fileUpload fileUploadListener="#{financeBean.fileUpload}"
                                  mode="advanced" dragDropSupport="false" auto="false"
                                  multiple="true" sizeLimit="10000000" label="Tallóz"
                                  uploadLabel="Feltölt" cancelLabel="Mégse"
                                  fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                    <p:column><p:inputText value="#{financeBean.selectedFinanceInfo.comment}"></p:inputText></p:column>
                </p:row>
            </p:panelGrid>
            <p:galleria value="#{financeBean.selectedFinanceInfo.images}" var="image" panelWidth="500" panelHeight="313" rendered="#{not empty financeBean.selectedFinanceInfo.images}">
                <p:graphicImage library="finance" name="#{image}"/>
            </p:galleria>
            <p:commandButton value="Mentés" action="#{financeBean.save()}" update=":financeForm" oncomplete="PF('financeItemWidget').hide()"></p:commandButton>

        </h:form>
    </p:dialog>

</ui:component>
</html>