<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="financeForm">
    <p:toolbar>
        <f:facet name="left">
            <p:commandButton value="Új tranzakció" actionListener="#{financeBean.newFinanceInfo}" oncomplete="PF('financeItemWidget').show();" update=":financeDlg" icon="ui-icon-document"/>

            <p:commandButton id="downloadLink" value="Kimutatás letöltése" ajax="false" icon="ui-icon-arrowthick-1-s">
                <p:fileDownload value="#{financeBean.download()}" />
            </p:commandButton>

            <span class="ui-separator">
                <span class="ui-icon ui-icon-grip-dotted-vertical"/>
            </span>

            <p:commandButton id="deleteButton" icon="ui-icon-trash" action="#{financeBean.delete}" update=":financeForm"/>
        </f:facet>
        <f:facet name="right">
            <p:outputLabel value="Egyenleg: #{financeBean.balance} Ft"></p:outputLabel>
        </f:facet>
    </p:toolbar>

    <p:dataTable id="financeDatatable"
                 var="row"
                 value="#{financeBean.allFinanceInfo}"
                 selection="#{financeBean.selectedFinanceInfo}"
                 rowKey="#{row.pk}"
                 selectionMode="single">
        <p:ajax event="rowDblselect" oncomplete="PF('financeItemWidget').show();" update=":financeDlg" />

        <p:column headerText="Megnevezés">
            <h:outputText value="#{row.title}"/>
        </p:column>

        <p:column headerText="Pénzmozgás">
            <h:outputText value="#{row.moneyMovement}"/>
        </p:column>

        <p:column headerText="Dátum">
            <h:outputText value="#{row.commitTime}"/>
        </p:column>
    </p:dataTable>
</h:form>

</html>