<?xml version='1.0' encoding='iso-8859-2' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
    <ui:insert name="header"/>
    <p:layout fullPage="true">

        <p:layoutUnit position="north" scrollable="null" style="border-radius: 0" gutter="0">

            <ui:include src="menubar.xhtml"/>
        </p:layoutUnit>
        <p:layoutUnit position="center" style="border-radius: 0" gutter="0">
            <ui:insert name="body"/>
        </p:layoutUnit>
    </p:layout>
    <p:growl id="growl" showDetail="true" life="3000" autoUpdate="true" transient="true"/>
    <h:outputStylesheet library="css" name="main.css"/>
</h:body>

</html>