<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>

    <h:form id="mainForm">

        <p:growl id="messages"/>

        <p:menubar>
            <p:submenu label="Személyes">
                <p:menuitem value="Összes profil" url="/views/users/alluser/index.xhtml" rendered="#{permissionBean.isGranted('admin')}"/>
                <p:menuitem value="Saját profil" url="/views/users/user/index.xhtml" rendered="#{permissionBean.isGranted('user,admin')}"/>
                <p:menuitem value="Hírlevél" url="/views/newsletter/index.xhtml" rendered="#{permissionBean.isGranted('user,admin')}"/>
                <p:menuitem value="Hiba jelentés" url="/views/errorreport/index.xhtml" rendered="#{permissionBean.isGranted('user,admin,porta')}"/>
                <p:menuitem value="Kulcs bérlés" url="/views/rent/keys/index.xhtml" rendered="#{permissionBean.isGranted('user,admin,porta')}"/>
            </p:submenu>


            <p:submenu label="Admin" rendered="#{permissionBean.isGranted('admin')}" ><!--admin,porta -->
                <p:menuitem value="Jogosultság kezelés" url="/views/admin/role/index.xhtml" rendered="#{permissionBean.isGranted('admin')}"/>
                <p:menuitem value="Leltár" url="/views/inventory/index.xhtml" rendered="#{permissionBean.isGranted('admin')}"/><!--admin-->
            </p:submenu>

            <p:submenu label="Pénzügy" rendered="#{permissionBean.isGranted('admin')}" ><!--admin,user-->
                <p:menuitem value="Kiadás/Bevetél" url="/views/finance/index.xhtml" rendered="#{permissionBean.isGranted('admin')}"/> <!--admin,user -->
            </p:submenu>

            <p:submenu label="Szobák" rendered="#{permissionBean.isGranted('admin,porta')}" ><!--admin,porta -->
                <p:menuitem value="Szoba rendezés" url="/views/rooms/index.xhtml" rendered="#{permissionBean.isGranted('admin')}"/>
                <p:menuitem value="Ideiglenes szoba bérlés" url="/views/rent/room/index.xhtml" rendered="#{permissionBean.isGranted('porta,admin')}"/><!--admin,porta -->
            </p:submenu>

            <p:submenu label="#{userBean.user.firstName} #{userBean.user.lastName}" styleClass="rightSubmenu" style="float: right;">
                <p:menuitem value="Kijelentkezés" actionListener="#{authBean.logout}"></p:menuitem>
            </p:submenu>
        </p:menubar>

    </h:form>
</h:body>
</html>