<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="form">


        <p:dataGrid id="roomDataGrid"
                value="#{roomAllocBean.roomAllocList}"
                    columns="3"
                    layout="grid"
                    var="room"
        rowIndexVar="rowId">

            <f:facet name="header">
                Szobabeosztás
            </f:facet>

            <p:panel header="#{room.data}" style="width:100%;text-align:center">
                <p:tree id="roomTree#{rowId}" style="width: 100%" value="#{room}" var="node" selectionMode="single" selection="#{roomAllocBean.selectedNode}"
                        draggable="true" droppable="true" dragdropScope="demo">
                    <p:ajax event="dragdrop" listener="#{roomAllocBean.onDragDrop}" />
                    <p:treeNode>
                        <h:outputText value="#{node.firstName} #{node.lastName}" />
                    </p:treeNode>
                </p:tree>
            </p:panel>
        </p:dataGrid>


</h:form>

</html>