<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="rentKeyForm">
    <p:panel id="keyAdminPanel" rendered="#{permissionBean.isGranted('admin,porta')}">
        <p:toolbar>
            <f:facet name="left">
                <p:commandButton value="Új kulcs" rendered="true" actionListener="#{keyBean.newKey}"
                                 onclick="PF('editKeyWidget').show();" update=":editKeyForm" icon="ui-icon-document"/>

                <span class="ui-separator">
                <span class="ui-icon ui-icon-grip-dotted-vertical"/>
            </span>
            </f:facet>
        </p:toolbar>

        <p:dataTable id="keysModTable"
                     var="keysModTableVar"
                     value="#{keyBean.keys}"
                     selection="#{keyBean.selectedKey}"
                     rowKey="#{keysModTableVar.keyId}"
                     selectionMode="single">
            <p:ajax event="rowDblselect" oncomplete="PF('editKeyWidget').show();" update=":editKeyDlg" />

            <p:column headerText="Kulcs név">
                <h:outputText value="#{keysModTableVar.keyName}"/>
            </p:column>

            <p:column headerText="Megjegyzés">
                <h:outputText value="#{keysModTableVar.keyComment}"/>
            </p:column>
        </p:dataTable>
    </p:panel>

    <p:panel id="keysPanel">
        <p:dataGrid id="keyDg"
                    var="key_var"
                    value="#{keyBean.keys}"
                    columns="3"
                    layout="grid"
                    rows="12" >

            <f:facet name="header">
                Bérelhető kulcsok
            </f:facet>

            <p:panel header="#{key_var.keyName}" style="text-align:center" styleClass="#{keyBean.styleByRentState(key_var)}">
                <h:panelGrid columns="1" style="width:100%">
                    <!--https://stackoverflow.com/questions/10334485/how-to-render-images-in-jsf-primefaces-3-2-->
                    <p:graphicImage library="images" name="key.png"/>

                    <h:outputText value="Bérlés kezdete" />
                    <h:outputText value="#{key_var.rentStart}" />

                    <h:outputText value="Bérlő" />
                    <h:outputText value="#{key_var.renter.lastName} #{key_var.renter.firstName}" />


                    <p:commandButton value="Bérel" update=":rentKeyDlg"
                                     oncomplete="PF('keyRentWidget').show()"
                                     rendered="#{permissionBean.isGranted('admin,porta')}">
                        <f:setPropertyActionListener value="#{key_var}" target="#{keyBean.selectedKey}" />
                    </p:commandButton>

                </h:panelGrid>
            </p:panel>
        </p:dataGrid>
    </p:panel>
</h:form>

</html>