<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:component>

    <p:dialog header="Kulcs szerkesztése" widgetVar="editKeyWidget" id="editKeyDlg" minHeight="40" >
        <h:form id="editKeyForm">
            <p:panelGrid style="margin: 0 auto;">
                <p:row>
                    <p:column><h:outputText value="Kulcs" /></p:column>
                    <p:column><h:outputText value="Megjegyzés" /></p:column>
                </p:row>

                <p:row>
                    <p:column><p:inputText value="#{keyBean.selectedKey.keyName}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{keyBean.selectedKey.keyComment}"></p:inputText></p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton value="Mentés" action="#{keyBean.save}" update=":rentKeyForm" onclick="PF('editKeyWidget').hide()"></p:commandButton>
        </h:form>
    </p:dialog>

    <p:dialog header="Kulcs bérlés" widgetVar="keyRentWidget" id="rentKeyDlg" minHeight="40">
        <h:form id="setupRentForm">
            <p:panelGrid style="margin: 0 auto;">
                <p:selectOneMenu id="user" value="#{keyBean.selectedUserPk}" disabled="#{keyBean.selectedKey.rented}" filter="true" filterMatchMode="startsWith">
                        <f:selectItems value="#{userBean.userList}" var="user_var" itemLabel="#{user_var.lastName} #{user_var.firstName}"/>
                </p:selectOneMenu>
            </p:panelGrid>
            <p:commandButton value="Bérel" action="#{keyBean.rentKey}" disabled="#{keyBean.selectedKey.rented}" update="rentKeyForm" onclick="PF('keyRentWidget').hide()"></p:commandButton>
            <p:commandButton value="Visszahoz" action="#{keyBean.returnKey}" update="rentKeyForm" onclick="PF('keyRentWidget').hide()"></p:commandButton>
            <p:commandButton value="Mégse" onclick="PF('keyRentWidget').hide()"></p:commandButton>
        </h:form>
    </p:dialog>

</ui:component>
</html>