<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:component>

    <p:dialog header="Új elem" id="inventoryDlg" widgetVar="newInvetoryItemWidget" minHeight="40">
        <h:form id="newItemForm">
            <p:panelGrid style="margin: 0 auto;">
                <p:row>
                    <p:column><h:outputText value="Leltári név" /></p:column>
                    <p:column><h:outputText value="Darabszám" /></p:column>
                    <p:column><h:outputText value="Megjegyzés" /></p:column>
                </p:row>

                <p:row>
                    <p:column><p:inputText value="#{inventoryBean.selectedItem.itemName}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{inventoryBean.selectedItem.itemCount}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{inventoryBean.selectedItem.itemComment}"></p:inputText></p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton value="Mentés" action="#{inventoryBean.save}" update=":inventoryForm" onclick="PF('newInvetoryItemWidget').hide()"></p:commandButton>
        </h:form>
    </p:dialog>

</ui:component>
</html>