<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="inventoryForm">
    <p:toolbar>
        <f:facet name="left">
            <p:commandButton value="Új elem" actionListener="#{inventoryBean.newInventoryItem()}" onclick="PF('newInvetoryItemWidget').show();" update=":newItemForm" icon="ui-icon-document"/>
        </f:facet>
    </p:toolbar>

    <p:dataTable id="inventoryDatatable"
                 var="row"
                 value="#{inventoryBean.rentableItems}"
                 selection="#{inventoryBean.selectedItem}"
                 rowKey="#{row.inventoryId}"
                 selectionMode="single">
        <p:ajax event="rowDblselect" oncomplete="PF('newInvetoryItemWidget').show();" update=":inventoryDlg" />

        <p:column headerText="Leltári név">
            <h:outputText value="#{row.itemName}"/>
        </p:column>

        <p:column headerText="Darabszám">
            <h:outputText value="#{row.itemCount}"/>
        </p:column>

        <p:column headerText="Megjegyzés">
            <h:outputText value="#{row.itemComment}"/>
        </p:column>
    </p:dataTable>
</h:form>

</html>