<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="allUsersForm" rendered="#{permissionBean.isGranted('admin')}">
    <p:toolbar>
        <f:facet name="left">
            <p:commandButton id="newUser" value="Új felhasználó" actionListener="#{userBean.newUser()}" oncomplete="PF('addUserWidget').show();" update=":addUserDlg :rentItemDlg" icon="ui-icon-document"/>
            <p:tooltip id="newUserTip" for="newUser" value="Új felhasználó létrehozása" position="top"/>
            <p:commandButton id="excelUp" value="Excel feltöltés" oncomplete="PF('excelUploadWidget').show();"  icon="ui-icon-folder-open"/>
            <p:tooltip id="excelUpTil" for="excelUp" value="Felhasználók feltöltése excel fájlból" position="top"/>
        </f:facet>
    </p:toolbar>

    <p:dataTable id="usersDatatable"
                 var="row"
                 value="#{userBean.userList}"
                 selection="#{userBean.selectedUser}"
                 filteredValue="#{userBean.filteredUserList}"
                 rowKey="#{row.pk}"
                 selectionMode="single">
        <p:ajax event="rowDblselect" oncomplete="PF('addUserWidget').show();" listener="#{userBean.inventoryRefresh}" update=":addUserDlg :rentItemDlg" />

        <p:column headerText="Név" filterBy="#{row.lastName} #{row.firstName}" filterMatchMode="contains">
            <h:outputText value="#{row.firstName} #{row.lastName}"/>
        </p:column>

        <p:column headerText="Szobaszám" filterBy="#{row.inhabitant.roomNumber}" filterMatchMode="contains">
            <h:outputText value="#{row.inhabitant.roomNumber}"/>
        </p:column>

        <p:column headerText="Szak" filterBy="#{row.inhabitant.major}" filterMatchMode="contains">
            <h:outputText value="#{row.inhabitant.major}"/>
        </p:column>

        <p:column headerText="Mióta" filterBy="#{row.inhabitant.classYear}" filterMatchMode="contains">
            <h:outputText value="#{row.inhabitant.classYear}"/>
        </p:column>
    </p:dataTable>
</h:form>

</html>