<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:component>

    <p:dialog header="Felhasználó hozzáadása" id="addUserDlg" widgetVar="addUserWidget" resizable="false">
        <h:form id="newUserForm">
            <p:panelGrid style="margin: 0 auto;" >
                <p:row>
                    <p:column><h:outputText value="Felhasználónév"/></p:column>
                    <p:column><h:outputText value="Jelszó"/></p:column>
                    <p:column><h:outputText value="Szerepkör"/></p:column>
                </p:row>

                <p:row>
                    <p:column><p:inputText value="#{userBean.selectedUser.username}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.newPassword}"></p:inputText></p:column>
                    <p:column>
                        <p:selectOneMenu id="roles" value="#{userBean.selectedUser.role}" converter="roleConverter">
                            <f:selectItems value="#{permissionBean.rolesList}" var="role" itemLabel="#{role.roleName}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column><h:outputText value="Vezetéknév"/></p:column>
                    <p:column><h:outputText value="Keresztnév"/></p:column>
                </p:row>

                <p:row>
                    <p:column><p:inputText value="#{userBean.selectedUser.lastName}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.firstName}"></p:inputText></p:column>
                </p:row>

                <p:column>
                    <p:commandButton value="Mentés" action="#{userBean.save()}" update=":allUsersForm" oncomplete="PF('addUserWidget').hide()"></p:commandButton>
                    <p:commandButton value="Tárgy bérlés" onclick="PF('addRentItemToUser').show();" icon="ui-icon-document"/>
                </p:column>
                <p:column>
                    <p:commandButton value="Személyes Adatok" actionListener="#{userBean.newInhabitant()}" oncomplete="PF('inhabDataWidget').show();" update=":inhabDataDlg" icon="ui-icon-document"/>
                    <p:commandButton id="downloadLink" value="Adatlap letöltése" ajax="false" icon="ui-icon-arrowthick-1-s">
                        <p:fileDownload value="#{userBean.download()}" />
                    </p:commandButton>
                </p:column>
                <p:column>
                    <p:commandButton value="Törlés"  actionListener="#{userBean.delete}" onclick="PF('addUserWidget').hide();" update="allUsersForm" icon="ui-icon-document"/>
                </p:column>
            </p:panelGrid>

        </h:form>
    </p:dialog>


    <p:dialog header="Lakó adatai" id="inhabDataDlg" widgetVar="inhabDataWidget" minHeight="40" resizable="false" modal="true">
        <h:form id="editInhabData">
            <p:panelGrid style="margin: 0 auto;">
                <p:row>
                    <p:column><h:outputText value="Anyja neve"/></p:column>
                    <p:column><h:outputText value="Állando lakcim"/></p:column>
                    <p:column><h:outputText value="Születési dátum"/></p:column>
                </p:row>
                <p:row>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.motherName}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.permaAddress}"></p:inputText></p:column>
                    <p:column><p:calendar id="popup" value="#{userBean.selectedUser.inhabitant.birthDate}" pattern="yyyy-MMM-dd"/></p:column>
                </p:row>
                <p:row>
                    <p:column><h:outputText value="Lakó telefonszáma"/></p:column>
                    <p:column><h:outputText value="Vezetékes telefonszám"/></p:column>
                    <p:column><h:outputText value="Hozzátartozó telefonszáma"/></p:column>
                </p:row>
                <p:row>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.permaPhoneNumber}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.wiredPhoneNumber}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.parentPhoneNumber}"></p:inputText></p:column>
                </p:row>
                <p:row>

                    <p:column><h:outputText value="Email"/></p:column>
                    <p:column><h:outputText value="Szoba szám"/></p:column>
                    <p:column><h:outputText value="RFID kód"/></p:column>
                </p:row>
                <p:row>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.emailAddress}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.roomNumber}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.rfidCode}"></p:inputText></p:column>
                </p:row>
                <p:row>
                    <p:column><h:outputText value="Szak"/></p:column>
                    <p:column><h:outputText value="Évfolyam"/></p:column>
                    <p:column><h:outputText value="Neptun kód"/></p:column>
                </p:row>
                <p:row>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.major}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.classYear}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{userBean.selectedUser.inhabitant.neptunCode}"></p:inputText></p:column>
                </p:row>

                <p:column>
                    <p:commandButton value="Mentés" oncomplete="PF('inhabDataWidget').hide()" update=":allUsersForm"></p:commandButton>
                </p:column>
            </p:panelGrid>

        </h:form>
    </p:dialog>


    <p:dialog header="Bérelt tárgy" id="rentItemDlg" widgetVar="addRentItemToUser" resizable="false" modal="true">
        <h:form id="rentedItemForm">
            <p:selectManyCheckbox id="grid" value="#{userBean.selectedUser.inhabitant.rentedItems}" layout="grid" columns="3">
                <f:selectItems value="#{userBean.rentableItems}"  var="item" itemLabel="#{item.itemName}" itemValue="#{item}" />
            </p:selectManyCheckbox>
            <p:commandButton value="Mentés" oncomplete="PF('addRentItemToUser').hide();" update=":allUsersForm" ></p:commandButton>
        </h:form>
    </p:dialog>


    <p:dialog header="Excel feltöltés" widgetVar="excelUploadWidget">
        <h:form id="excelUploadForm">
            <p:fileUpload fileUploadListener="#{userBean.addExcelUsers}" mode="advanced" dragDropSupport="false"
                          update=":allUsersForm" sizeLimit="100000" oncomplete="PF('excelUploadWidget').hide()"
                          fileLimit="1"
                          label="Tallóz"
                          uploadLabel="Feltölt"
                          cancelLabel="Mégse"
                          allowTypes="/(\.|\/)(xlsx)$/" />
        </h:form>
    </p:dialog>

</ui:component>
</html>