<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form>
    <p:panel id="newsletterEditorPanel" header="Hibajelentés" toggleable="true" closable="false" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">

    <h:panelGrid id="errorEditorPanel" columns="2">
        <h:outputText value="Hiba neve: " />
        <p:inputText id="newsletterTitle" value="#{errorReportBean.selectedErrorReport.title}"/>
    </h:panelGrid>

    <p:textEditor widgetVar="editor" value="#{errorReportBean.selectedErrorReport.errorDescription}" height="300" style="margin-bottom:10px"/>

    <p:commandButton value="Mentés" update=":errorReportForm" action="#{errorReportBean.saveErrorReport()}" icon="ui-icon-disk" />
    <p:commandButton value="Mégse" type="button" onclick="PF('editor1').clear();" icon="ui-icon-close" />
    </p:panel>
</h:form>

</html>