<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="errorReportForm">

    <p:growl id="msgs" showDetail="true"/>
    <p:repeat value="#{errorReportBean.errorReports}" var="error_report" varStatus="status" offset="0" step="1" size="#{errorReportBean.errorReports.size()}">
        <p:panel id="panel" header="Hiba neve: #{error_report.title}" styleClass="#{errorReportBean.styleByState(error_report.state)}" style="margin-bottom:20px" rendered="#{errorReportBean.visibleErrorReports(error_report)}">
            <h:panelGrid columns="1" cellpadding="10">
                <h:outputText value="#{error_report.errorDescription}" escape="false" />
            </h:panelGrid>
            <p:panel id="adminPanel" rendered="true" header="Hibajelentő: #{error_report.inhabitant.firstName} #{error_report.inhabitant.lastName}">
                <p:toolbar>
                    <f:facet name="left">
                        <p:selectOneMenu id="state" value="#{error_report.state}">
                            <f:selectItems value="#{errorReportBean.statuses}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <f:facet name="right">
                        <p:commandButton value="Mentés" update=":errorReportForm" actionListener="#{errorReportBean.modifyReport(error_report)}" icon="ui-icon-check" >
                            <f:setPropertyActionListener value="#{error_report}" target="#{errorReportBean.selectedErrorReport}" />
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
                <p:inputTextarea rows="10" cols="170" value="#{error_report.privateComment}" />
            </p:panel>
        </p:panel>
        <br/>
        <br/>
        <br/>
    </p:repeat>
</h:form>

</html>