<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>login</title>
</h:head>
<h:body>
    <h:form id="loginForm">
        <p:growl id="growl" showDetail="true" life="3000" />
        <p:panel header="#{auth['login_title']}" style="width: 360px;text-align: center">
            <p:outputLabel id="ulLabel" value="Sikertelen bejelentkezés" rendered="#{authBean.loginState}"></p:outputLabel>
            <h:panelGrid id="loginPanel" columns="2">
                <h:outputText value="#{auth['username']}" />
                <p:inputText id="username" value="#{authBean.userName}" ></p:inputText>
                <p:spacer></p:spacer>
                <p:message for="username" ></p:message>
                <h:outputText value="#{auth['password']}" />
                <p:password id="password" value="#{authBean.password}" feedback="false"></p:password>
                <p:spacer></p:spacer>
                <p:message for="password"></p:message>
                <p:spacer></p:spacer>
                <p:commandButton action="#{authBean.login}" value="Login" update=":loginForm" ></p:commandButton>
            </h:panelGrid>
        </p:panel>
    </h:form>
</h:body>
</html>