<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form rendered="#{permissionBean.isGranted('admin')}">
    <p:panel id="newsletterEditorPanel" header="#{error_report['editor.title']}" toggleable="true" closable="false" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">

    <h:panelGrid id="loginPanel" columns="2">
        <h:outputText value="Cím " />
        <p:inputText id="newsletterTitle" value="#{newsletterBean.selectedNewsletter.title}"/>
    </h:panelGrid>

    <p:textEditor widgetVar="editor" value="#{newsletterBean.selectedNewsletter.content}" height="300" style="margin-bottom:10px"/>

    <p:commandButton value="Létrehoz" update=":newsletterForm" action="#{newsletterBean.saveNewsletter()}" icon="ui-icon-disk" />
    <p:commandButton value="Töröl" type="button" onclick="PF('editor1').clear();" icon="ui-icon-close" />
    </p:panel>
</h:form>

</html>