<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="newsletterForm">

    <p:growl id="msgs" showDetail="true"/>
    <p:repeat value="#{newsletterBean.newsletters}" var="newsletter" varStatus="status" offset="0" step="1" size="#{newsletterBean.newsletters.size()}">

        <p:panel id="custom" header="#{newsletter.title}" style="margin-bottom:20px" toggleable="true" collapsed="false" widgetVar="#{newsletter.pk}+panel">
            <h:panelGrid columns="2" cellpadding="10">
                <h:outputText value="#{newsletter.content}" escape="false" />
            </h:panelGrid>

            <f:facet name="actions">
                <p:commandLink actionListener="#{newsletterBean.alreadyRead(newsletter)}" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
                    <h:outputText styleClass="ui-icon ui-icon-check" value="Olvasottnak jelöl" />
                </p:commandLink>

            </f:facet>
        </p:panel>
        <br/>
    </p:repeat>
</h:form>

</html>