<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="editPersonalData">
    <p:panelGrid style="margin: 0 auto;">

        <p:row>
            <p:row>
                <p:column><h:outputText value="Vezetéknév"/></p:column>
                <p:column><h:outputText value="Keresztnév"/></p:column>
                <p:column><h:outputText value="Jelszó"/></p:column>

            </p:row>
            <p:row>
                <p:column><p:inputText value="#{userBean.user.lastName}"></p:inputText></p:column>
                <p:column><p:inputText value="#{userBean.user.firstName}"></p:inputText></p:column>
                <p:column><p:inputText value="#{userBean.newPassword}"></p:inputText></p:column>
            </p:row>

        </p:row>
        <p:row>
            <p:column><h:outputText value="Anyja neve"/></p:column>
            <p:column><h:outputText value="Állando lakcim"/></p:column>
            <p:column><h:outputText value="Születési dátum"/></p:column>
        </p:row>
        <p:row>
            <p:column><p:inputText value="#{userBean.user.inhabitant.motherName}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.permaAddress}"></p:inputText></p:column>
            <p:column><p:calendar id="popup" value="#{userBean.user.inhabitant.birthDate}" pattern="yyyy-MMM-dd" /></p:column>
        </p:row>
        <p:row>
            <p:column><h:outputText value="Lakó telefonszáma"/></p:column>
            <p:column><h:outputText value="Vezetékes telefonszám"/></p:column>
            <p:column><h:outputText value="Hozzátartozó telefonszáma"/></p:column>
        </p:row>
        <p:row>
            <p:column><p:inputText value="#{userBean.user.inhabitant.permaPhoneNumber}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.wiredPhoneNumber}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.parentPhoneNumber}"></p:inputText></p:column>
        </p:row>
        <p:row>

            <p:column><h:outputText value="Email"/></p:column>
            <p:column><h:outputText value="Szoba szám"/></p:column>
            <p:column><h:outputText value="RFID kód"/></p:column>
        </p:row>
        <p:row>

            <p:column><p:inputText value="#{userBean.user.inhabitant.emailAddress}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.rfidCode}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.roomNumber}"></p:inputText></p:column>
        </p:row>
        <p:row>
            <p:column><h:outputText value="Szak"/></p:column>
            <p:column><h:outputText value="Évfolyam"/></p:column>
            <p:column><h:outputText value="Neptun kód"/></p:column>
        </p:row>
        <p:row>
            <p:column><p:inputText value="#{userBean.user.inhabitant.major}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.classYear}"></p:inputText></p:column>
            <p:column><p:inputText value="#{userBean.user.inhabitant.neptunCode}"></p:inputText></p:column>
        </p:row>

        <p:column>
            <p:commandButton value="Mentés" action="#{userBean.save()}" update=":editPersonalData"></p:commandButton>
        </p:column>
    </p:panelGrid>

</h:form>

</html>