<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:component>

    <p:dialog header="Ideiglenes lakó szerkesztése" widgetVar="editTempInhabWidget" id="editTempInhabDlg" minHeight="40" >
        <h:form id="editTempInhabForm"><p:panelGrid style="margin: 0 auto;">

            <p:row>
                <p:row>
                    <p:column><h:outputText value="Név"/></p:column>
                    <p:column><h:outputText value="Születési hely"/></p:column>
                    <p:column><h:outputText value="Szülestési idő"/></p:column>

                </p:row>
                <p:row>
                    <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.name}"></p:inputText></p:column>
                    <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.birthLoc}"></p:inputText></p:column>
                    <p:column><p:calendar id="birthDate" value="#{tempImhabBean.selectedTInhab.birthDate}" pattern="yyyy-MMM-dd"></p:calendar></p:column>
                </p:row>

            </p:row>
            <p:row>
                <p:column><h:outputText value="Anyja neve"/></p:column>
                <p:column><h:outputText value="Állando lakcim"/></p:column>
                <p:column><h:outputText value="Személyi vagy útlevél igazolvány száma:"/></p:column>
            </p:row>
            <p:row>
                <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.motherName}"></p:inputText></p:column>
                <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.permaAddress}"></p:inputText></p:column>
                <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.passportNum}" /></p:column>
            </p:row>
            <p:row>
                <p:column><h:outputText value="Diákigazolvány szám"/></p:column>
                <p:column><h:outputText value="Telefonszám"/></p:column>
            </p:row>
            <p:row>
                <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.studentCardNum}"></p:inputText></p:column>
                <p:column><p:inputText value="#{tempImhabBean.selectedTInhab.phoneNumber}"></p:inputText></p:column>
            </p:row>
            <p:row>
                <p:column><h:outputText value="Érkezés napja"/></p:column>
                <p:column><h:outputText value="Távozás napja"/></p:column>
            </p:row>
            <p:row>

                <p:column><p:calendar id="moveInDate" value="#{tempImhabBean.selectedTInhab.moveInDate}"></p:calendar></p:column>
                <p:column><p:calendar id="moveOutDate" value="#{tempImhabBean.selectedTInhab.moveOutDate}"></p:calendar></p:column>
            </p:row>
            <p:column>
                <p:commandButton value="Mentés" action="#{tempImhabBean.save}" update=":rentTempRoomForm" onclick="PF('editTempInhabWidget').hide()"></p:commandButton>
            </p:column>
            <p:column>
            </p:column>
            <p:column>
                <p:commandButton id="downloadRoomRent" value="Beköltözési lap letöltése" ajax="false" icon="ui-icon-arrowthick-1-s" onclick="PF('editTempInhabWidget').hide()">
                    <p:fileDownload value="#{tempImhabBean.download()}" />
                </p:commandButton>
            </p:column>
        </p:panelGrid>
            
        </h:form>
    </p:dialog>
</ui:component>
</html>