<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title></title>
</h:head>
<h:form id="rentTempRoomForm" rendered="#{permissionBean.isGranted('porta,admin')}">
    <p:toolbar>
        <f:facet name="left">
            <p:commandButton value="Új ideiglenes lakó" rendered="true" actionListener="#{tempImhabBean.newTempInhab}"
                             onclick="PF('editTempInhabWidget').show();" update=":editTempInhabForm" icon="ui-icon-document"/>

            <span class="ui-separator">
                <span class="ui-icon ui-icon-grip-dotted-vertical"/>
            </span>
        </f:facet>
    </p:toolbar>
        <p:dataTable id="rentTempRoomTable"
                     var="tInhabVar"
                     value="#{tempImhabBean.tempInhabList}"
                     selection="#{tempImhabBean.selectedTInhab}"
                     rowKey="#{tInhabVar.tInhabId}"
                     selectionMode="single">
            <p:ajax event="rowDblselect" oncomplete="PF('editTempInhabWidget').show();" update=":editTempInhabDlg" />

            <p:column headerText="Ideiglenes bérlő neve">
                <h:outputText value="#{tInhabVar.name}"/>
            </p:column>

        </p:dataTable>

</h:form>

</html>