<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:component>

    <p:dialog header="Jogosultság szerkesztése" id="roleDlg" widgetVar="roleWidget" minHeight="40">
        <h:form id="roleEditForm">

            <p:outputLabel value="Jogosultság név"></p:outputLabel>
            <p:inputText value="#{permissionBean.selectedRole.roleName}"></p:inputText>

            <p:commandButton value="Mentés" action="#{permissionBean.selectedRole.save()}" update=":rolesForm" oncomplete="PF('roleWidget').hide()"></p:commandButton>

        </h:form>
    </p:dialog>

</ui:component>
</html>