<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/fullpage.xhtml">

    <ui:define name="title">
        <h:outputText value="Role managment"/>
    </ui:define>
    <ui:define name="header">
        <ui:include src="dialogs.xhtml"/>
    </ui:define>


    <ui:define name="body">
        <p:layout>
            <p:layoutUnit position="center" gutter="0">
                <ui:include src="list.xhtml"/>
            </p:layoutUnit>
        </p:layout>
    </ui:define>

</ui:composition>

</html>