<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <h:form id="rolesForm">
        <p:toolbar>
            <f:facet name="left">
                <p:commandButton value="Új szerepkör" actionListener="#{permissionBean.newRole()}" oncomplete="PF('roleWidget').show();" update=":roleDlg" icon="ui-icon-document"/>
            </f:facet>
        </p:toolbar>
        <p:dataTable id="rolesDatatable"
                     var="row"
                     value="#{permissionBean.rolesList}"
                     selection="#{permissionBean.selectedRole}"
                     rowKey="#{row.roleId}"
                     selectionMode="single">
            <p:ajax event="rowDblselect"  oncomplete="PF('roleWidget').show();" update=":roleDlg"/>

            <p:column headerText="Jogosultság azonosító">
                <h:outputText value="#{row.roleId}"/>
            </p:column>

            <p:column headerText="Jogosultság név">
                <h:outputText value="#{row.roleName}"/>
            </p:column>
        </p:dataTable>
    </h:form>

</ui:composition>
</html>
